<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./templates/head'); %>
</head>

<body>
    <%- include('./templates/nav'); %>

    <p id="test"></p>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
          const getTestData = async () => {
                let res = await axios.get('http://localhost:8080/api/test')
                console.log(res)
                document.getElementById('test').innerHTML = res.data
            }
            getTestData()
    </script>


</body>

</html>